body {
  background-color: #c00;
}

.jumbotron {
  background-color: #FFD600 !important;
  font-family: 'Russo One', sans-serif;
}

h2  {
  font-family: 'Russo One', sans-serif;
}

img {
  width: 500px;
  height: 500px;

}

img.align-right {
  float: right;
  margin-left: 10px;
}

img.align-left {
  float: left;
  margin-right: 10px;
}

button {
  margin-top: 20px;
  background-color: #FFD600;
  font-family: 'Russo One', sans-serif;
}

#pizza-output {
  font-family: 'Russo One', sans-serif;
  padding-top: 20px;
  font-size: 50px;
}
